<div class="contactComp-wrapper">

	<h1> İletişim Formu</h1>

	<form>

		<div class="form-group">
			<label for="contact-name">Adınız</label>
			<input id="contact-name" type="text" class="form-control  contact-inputs">
		</div>
		<div class="form-group">
			<label for="contact-email">E-mail</label>
			<input id="contact-email" type="text" class="form-control contact-inputs">
		</div>
		<div class="form-group">
			<label for="contact-message">Mesajınız</label>
			<textarea id="contact-message" cols="30" rows="10" class="form-control contact-inputs"></textarea>
		</div>
		<button class="btn " type="button" (click)="sendContactForm()">Gönder</button>

	</form>


</div>